---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-family: 'Covered by your grace', cursive;
			}
			.dull {
				font-family: 'Mono', 'Courier New', Courier, monospace;
				font-size: x-small;
				/* float: right; */
			}
			article img {
				margin-top: 20px;
				width: 100%;
			}
			article p {
				justify-content: center;
			}
			@media screen and (min-width: 800px) {
				/* SO SOMETHING MAYBE NO PRESSURE */
				article {
					align-items: center;
					margin-bottom: 100px;
				}
				article img {
					float: left;
					border: 0;
					border-right: solid 30px transparent;
					width: 300px;
				}
				article p {
					max-width: 20px;
					text-align: justify;
					text-rendering: optimizeSpeed;
					padding: 0px 20px 20px;
				}
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<h1 class="title">{title}</h1>
				<span class="dull">By <a href="/who-the-f">Aryan Singh</a> on {pubDate && <time>{pubDate}</time>}</span>
				{heroImage && <img width={360} src={heroImage} alt="" />}
				<slot/>
			</article>
		</main>
		<Footer />
	</body>
</html>
